<div class="sign-up-form">
  <div class="sign-up-form__introduction-text">
    <p>Please sign-up using this beautifull form. 
      All fields are required</p>
  </div>
  <div class="sign-up-form__input">
    <label class="label">First name</label>
    <input 
      #firstNameModel="ngModel"
      [class.is-danger]="firstNameModel.invalid && (firstNameModel.dirty || firstNameModel.touched)"
      [ngModel]="firstName()"
      (input)="onFirstNameChange($event)"
      class="input is-large" 
      type="text"
      required
      placeholder="First name"
      data-cy="first-name"
    >
    <div
      *ngIf="firstNameModel.invalid && (firstNameModel.dirty || firstNameModel.touched)"
      class="alert"
      data-cy="booking-error"
    >
      <p class="help is-danger" *ngIf="firstNameModel.errors?.['required']">
        First name is required.
      </p>
    </div>
  </div>
  <div class="sign-up-form__input">
    <label class="label">Last name</label>
    <input 
      #lastNameModel="ngModel"
      [class.is-danger]="lastNameModel.invalid && (lastNameModel.dirty || lastNameModel.touched)"
      [ngModel]="lastName()"
      (input)="onLastNameChange($event)"
      class="input is-large"
      type="text"
      required
      placeholder="Last name"
      data-cy="last-name"
    >
    <div
      *ngIf="lastNameModel.invalid && (lastNameModel.dirty || lastNameModel.touched)"
      class="alert"
      data-cy="booking-error"
    >
      <p class="help is-danger" *ngIf="lastNameModel.errors?.['required']">
        Last name is required.
      </p>
    </div>
  </div>
  <div class="sign-up-form__input">
    <label class="label">E-mailadres</label>
    <input 
      #emailModel="ngModel"
      [class.is-danger]="emailModel.invalid && (emailModel.dirty || emailModel.touched)"
      [ngModel]="email()"
      (input)="onEmailChange($event)"
      class="input is-large"
      type="email"
      required
      placeholder="E-mailadres"
      data-cy="email"
    >
    <div
      *ngIf="lastNameModel.invalid && (lastNameModel.dirty || lastNameModel.touched)"
      class="alert"
    >
      <p class="help is-danger" *ngIf="lastNameModel.errors?.['required']">
        Last name is required.
      </p>
    </div>
  </div>
  <div class="sign-up-form__input">
    <label class="label">Password (should be a minimum of eight characters, contain an uppercase and lowercase character and should not contain firstname or lastname)</label>
    <input
      #passwordModel="ngModel"
      [class.is-danger]="passwordModel.invalid && (passwordModel.dirty || passwordModel.touched) || !passwordIsStrong"
      [ngModel]="password"
      (input)="onPasswordChange($event)"
      minlength="8"
      type="password"
      class="input is-large"
      required
      placeholder="Password"
      data-cy="password"
    />
    <div
      *ngIf="passwordModel.invalid && (passwordModel.dirty || passwordModel.touched) || !passwordIsStrong"
      class="alert"
      data-cy="password-error"
    >
      <p class="help is-danger" *ngIf="passwordModel.errors?.['required']">
        Password is required.
      </p>
      <p class="help is-danger" *ngIf="passwordModel.errors?.['minlength']">
        Password should be a minimum of eight characters.
      </p>
      <p class="help is-danger" *ngIf="passwordError === 'EMPTY'">
        First and last name are reuiqred.
      </p>
      <p class="help is-danger" *ngIf="passwordError === 'CHARACTERS'">
        Password must have uppercase and lowercase characters.
      </p>
      <p class="help is-danger"  *ngIf="passwordError === 'NAME'">
        Password cannot contain first of last name.
      </p>
    </div>
  </div>
  <div class="control">
    <button 
      (click)="onSubmit()"
      [class.is-loading]="isLoading"
      [disabled]="passwordModel.invalid || firstNameModel.invalid || lastNameModel.invalid || !passwordIsStrong"
      class="button is-primary"
      data-cy="button">Submit
  </button>
  </div>
</div>
